{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $shell := promptStringOnce . "shell" "Prefered Shell" "/bin/zsh" -}}

{{- $install_nvm := promptBoolOnce . "install_nvm" "Install NVM" -}}
{{- $install_pyenv := promptBoolOnce . "install_pyenv" "Install Pyenv" -}}

[data]
email = {{ $email | quote }}
shell = {{ $shell | quote }}

install_nvm = {{ $install_nvm }}
install_pyenv = {{ $install_pyenv }}

external = []
